.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 40px;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 99;
    .left {
        display: flex;
        align-items: center;
        gap: 30px;
        span {
            font-weight: bold;
            font-size: 24px;
            color: #ff6f69;
            font-family: 'Lobster', cursive;
            letter-spacing: 3px;
        }
        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgray;
            padding: 5px;
            border-radius: 5px;
            input {
                border: none;
                width: 500px;
                height: 20px;
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        gap: 20px;
        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid #343d46;
            }
            span {
                font-weight: 500;
            }
        }
    }
}